In [20]:
import numpy as np
import pandas as pd
import math
from typing import Dict, List

In [38]:
data_path = "Data-Challenge-1.xlsx"

df = pd.read_excel(data_path)
df = df.iloc[:, [0,1,2]]

x_bins = np.arange(0, 22, 2)
y_bins = np.arange(0, 12, 2)

df['x_grid'] = pd.cut(df['x'], bins=range(0, 22, 2), right=False)
df['y_grid'] = pd.cut(df['y'], bins=range(0, 12, 2), right=False)

grid_stats = df.groupby(['x_grid', 'y_grid'], observed=False)['T(x,y)'].agg(['mean', 'count'])


final_average = grid_stats['mean'].mean()

print(f"Simple average: {df['T(x,y)'].mean():.2f}" )
print(f"Grid-based average: {final_average:.2f}" )

print("\nGrid cells with no data:")
print(grid_stats[grid_stats['count'] == 2])

grid_stats

Simple average: 151.01
Grid-based average: 152.89

Grid cells with no data:
                    mean  count
x_grid   y_grid
[4, 6)   [4, 6)   169.05      2
         [6, 8)   169.10      2
[6, 8)   [2, 4)   165.95      2
[8, 10)  [6, 8)   169.25      2
[10, 12) [8, 10)  163.15      2
[16, 18) [2, 4)   136.60      2
[18, 20) [0, 2)   114.80      2
         [2, 4)   121.60      2
         [8, 10)  129.40      2

                        mean  count
x_grid   y_grid
[0, 2)   [0, 2)          NaN      0
         [2, 4)          NaN      0
         [4, 6)   160.200000      1
         [6, 8)   157.000000      1
         [8, 10)         NaN      0
[2, 4)   [0, 2)          NaN      0
         [2, 4)          NaN      0
         [4, 6)          NaN      0
         [6, 8)          NaN      0
         [8, 10)  161.366667      3
[4, 6)   [0, 2)          NaN      0
         [2, 4)   163.900000      1
         [4, 6)   169.050000      2
         [6, 8)   169.100000      2
         [8, 10)  166.500000      1
[6, 8)   [0, 2)          NaN      0
         [2, 4)   165.950000      2
         [4, 6)          NaN      0
         [6, 8)   172.400000      1
         [8, 10)         NaN      0
[8, 10)  [0, 2)          NaN      0
         [2, 4)          NaN      0
         [4, 6)   170.500000      1
         [6, 8)   169.250000      2
         [8, 10)         NaN      0
[10, 12) [0, 2)   157.400000      1
         [2, 4)          NaN      0
         [4, 6)   162.600000      1
         [6, 8)          NaN      0
         [8, 10)  163.150000      2
[12, 14) [0, 2)          NaN      0
         [2, 4)   150.900000      1
         [4, 6)   164.400000      1
         [6, 8)   157.900000      1
         [8, 10)  159.675000      4
[14, 16) [0, 2)          NaN      0
         [2, 4)          NaN      0
         [4, 6)   149.200000      1
         [6, 8)   154.900000      1
         [8, 10)         NaN      0
[16, 18) [0, 2)   132.400000      3
         [2, 4)   136.600000      2
         [4, 6)   140.300000      3
         [6, 8)   143.550000      4
         [8, 10)  136.700000      1
[18, 20) [0, 2)   114.800000      2
         [2, 4)   121.600000      2
         [4, 6)          NaN      0
         [6, 8)   133.200000      1
         [8, 10)  129.400000      2